$breakpoints: (
'sp': (max-width: 480px),
'tab': (max-width: 1024px),
'pc': (min-width: 1025px)
) !default;
@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

.is_pc,
.is_tab,
.is_onlytab,
.is_sp{
    display: none;
}
@include media(sp){
    .is_sp{
        display: block;
    }
}
@include media(tab){
    .is_tab{
        display: block;
    }
}
@media screen and (min-width: 481px) and (max-width: 1024px){
    .is_onlytab{
        display: block;
    }
}
@include media(pc){
    .is_pc{
        display: block;
    }
}

@mixin smooth{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
@mixin wrap{
    max-width: calc(1000px + 2rem);
    margin: auto;
    padding: 0 1rem;
}
@mixin title {
    h3{
        font-family: 'montserratmedium';
        font-size: 30px;
        letter-spacing: 3px;
        padding-bottom: 1rem;
    }
    p{
        font-size: 18px;
        @include media(sp){
            font-size: 15px;
        }
    }
    h3,p{
        line-height: 1;
    }
}

@font-face {
    font-family: 'notosansbold';
    src: url('../font/NotoSansJP-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'montserratmedium';
    src: url('../font/Montserrat-Medium.ttf') format('opentype');
}

$blue: #023A90;
$gray: #B6B6B6;
$gray2: #F5F5F5;
$gray3: #DCDCDC;

main{
    overflow: hidden;
    @include media(pc){
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .submenu{
        padding: 20px;
        background-color: #000000;
        @include media(sp){
            padding: 0;
        }

        .submenu-wrap{
            @include wrap();
            @include media(sp){
                padding: 0;
            }

            ul{
                display: flex;
                flex-wrap: wrap;

                li{
                    @media screen and (min-width: 481px){
                        padding-left: 1rem;
                        padding-right: 1rem;
                        position: relative;
                        
                        &:not(:last-child)::after {
                            content: "|";
                            position: absolute;
                            right: 0;
                            color: #FFFFFF;
                        }
                    }
                    @include media(sp){
                        width: 50%;
                        padding: 14px;
                        text-align: center;
                        
                        &:nth-child(1), &:nth-child(3), &:nth-child(5){
                            border-right: 1px solid #FFFFFF;
                        }
                         &:not(:nth-child(6)):not(:nth-child(5)){
                            border-bottom: 1px solid #FFFFFF;
                        }
                    }
                    
                    a{
                        font-family: "notosansbold";
                        font-size: 14px;
                        color: #FFFFFF;
                        @include smooth();
                        
                        &.active{
                            color: $blue;
                        }
                        &:hover{
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    .breadcrumb{
        padding: 14px 0;
        @include media(sp){
            padding: 11px 0;
        }

        .breadcrumb-wrap{
            @include wrap();
            font-size: 11px;
            color: $gray;
            @include media(sp){
                font-size: 10px;
            }

            a{
                color: $blue;
            }
        }
    }
    .main_visual{
        &__text{
            background-color: $gray2;
            padding: 40px 0;
            @include media(sp){
                padding: 27px 0;
            }

            .main_visual-wrap{
                @include wrap();

                .main_visual-inner{
                    @include title();
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    @include media(tab){
                        flex-direction: column;
                        gap: 1rem;
                        align-items: flex-start;
                    }

                    &:before{
                        content: "";
                        border: 1px solid #000000;
                        align-self: stretch;
                        @include media(tab){
                            align-self: auto;
                            width: 3.5rem;
                        }
                    }
                    > div{
                        order: -1;
                    }
                    h4{
                        font-size: 14px;
                        @include media(sp){
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        &__img{
            position: relative;

            &:before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../../img_new/shogo/staff_list/bgMask.png);
            }
            .illust{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .description{
        padding: 95px 0 85px;
        @include media(sp){
            padding: 55px 0 50px;
        }

        .description-wrap{
            text-align: center;
            @include wrap();

            h3{
                font-family: "notosansbold";
                font-size: 28px;
                line-height: 1.8;
                padding-bottom: 33px;
                @include media(sp){
                    font-size: 20px;
                    line-height: 1.6;
                    padding-bottom: 28px;
                }
            }
            p{
                font-size: 14px;
                line-height: 1.8;
                @include media(sp){
                    font-size: 13px;
                }

                .space{
                    display: block;
                    padding-bottom: 28px;
                    @include media(sp){
                        padding-bottom: 25px;
                    }
                }
            }
        }
    }
    .division{
        padding: 94px 0 88px;
        background-color: $gray2;
        @include media(sp){
            padding: 55px 0 52px;
        }
        
        .division-wrap{
            @include wrap();

            .division-title{
                font-size: 24px;
                font-family: "notosansbold";
                padding: 1rem;
                color: #FFFFFF;
                background-color: #000000;
                @include media(sp){
                    font-size: 21px;
                }
            }
            ul{
                padding-top: 40px;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                @include media(sp){
                    padding-top: 26px;
                    gap: 22px;
                }

                li{
                    width: 224px;
                    height: 140px;
                    @include media(sp){
                        width: 100%;
                        height: 90px;
                    }

                    a{
                        border: 1px solid;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        height: 100%;
                        @include smooth();
                        @include media(sp){
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            padding: 1rem;
                        }

                        &:hover{
                            background-color: $blue;

                            p{
                                color: #FFFFFF;
                            }
                        }
                        p{
                            font-size: 18px;
                            font-family: "notosansbold";
                            padding-bottom: 1rem;
                            @include media(sp){
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

    }
    .division02{
        @extend .division;
        background-color: transparent;
        padding-bottom: 118px;
        @include media(sp){
            padding-bottom: 79px;
        }
    }
}