.is_pc,
.is_tab,
.is_onlytab,
.is_sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .is_sp {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .is_tab {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .is_onlytab {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .is_pc {
    display: block;
  }
}
@font-face {
  font-family: "notosansbold";
  src: url("../font/NotoSansJP-Bold.otf") format("opentype");
}
@font-face {
  font-family: "montserratmedium";
  src: url("../font/Montserrat-Medium.ttf") format("opentype");
}
main {
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  main {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}
main .submenu {
  padding: 20px;
  background-color: #000000;
}
@media screen and (max-width: 480px) {
  main .submenu {
    padding: 0;
  }
}
main .submenu .submenu-wrap {
  max-width: calc(1000px + 2rem);
  margin: auto;
  padding: 0 1rem;
}
@media screen and (max-width: 480px) {
  main .submenu .submenu-wrap {
    padding: 0;
  }
}
main .submenu .submenu-wrap ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 481px) {
  main .submenu .submenu-wrap ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }
  main .submenu .submenu-wrap ul li:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: 0;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 480px) {
  main .submenu .submenu-wrap ul li {
    width: 50%;
    padding: 14px;
    text-align: center;
  }
  main .submenu .submenu-wrap ul li:nth-child(1), main .submenu .submenu-wrap ul li:nth-child(3), main .submenu .submenu-wrap ul li:nth-child(5) {
    border-right: 1px solid #FFFFFF;
  }
  main .submenu .submenu-wrap ul li:not(:nth-child(6)):not(:nth-child(5)) {
    border-bottom: 1px solid #FFFFFF;
  }
}
main .submenu .submenu-wrap ul li a {
  font-family: "notosansbold";
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
main .submenu .submenu-wrap ul li a.active {
  color: #023A90;
}
main .submenu .submenu-wrap ul li a:hover {
  color: #023A90;
}
main .breadcrumb {
  padding: 14px 0;
}
@media screen and (max-width: 480px) {
  main .breadcrumb {
    padding: 11px 0;
  }
}
main .breadcrumb .breadcrumb-wrap {
  max-width: calc(1000px + 2rem);
  margin: auto;
  padding: 0 1rem;
  font-size: 11px;
  color: #B6B6B6;
}
@media screen and (max-width: 480px) {
  main .breadcrumb .breadcrumb-wrap {
    font-size: 10px;
  }
}
main .breadcrumb .breadcrumb-wrap a {
  color: #023A90;
}
main .main_visual__text {
  background-color: #F5F5F5;
  padding: 40px 0;
}
@media screen and (max-width: 480px) {
  main .main_visual__text {
    padding: 27px 0;
  }
}
main .main_visual__text .main_visual-wrap {
  max-width: calc(1000px + 2rem);
  margin: auto;
  padding: 0 1rem;
}
main .main_visual__text .main_visual-wrap .main_visual-inner {
  display: flex;
  align-items: center;
  gap: 50px;
}
main .main_visual__text .main_visual-wrap .main_visual-inner h3 {
  font-family: "montserratmedium";
  font-size: 30px;
  letter-spacing: 3px;
  padding-bottom: 1rem;
}
main .main_visual__text .main_visual-wrap .main_visual-inner p {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  main .main_visual__text .main_visual-wrap .main_visual-inner p {
    font-size: 15px;
  }
}
main .main_visual__text .main_visual-wrap .main_visual-inner h3, main .main_visual__text .main_visual-wrap .main_visual-inner p {
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  main .main_visual__text .main_visual-wrap .main_visual-inner {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}
main .main_visual__text .main_visual-wrap .main_visual-inner:before {
  content: "";
  border: 1px solid #000000;
  align-self: stretch;
}
@media screen and (max-width: 1024px) {
  main .main_visual__text .main_visual-wrap .main_visual-inner:before {
    align-self: auto;
    width: 3.5rem;
  }
}
main .main_visual__text .main_visual-wrap .main_visual-inner > div {
  order: -1;
}
main .main_visual__text .main_visual-wrap .main_visual-inner h4 {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  main .main_visual__text .main_visual-wrap .main_visual-inner h4 {
    font-size: 13px;
  }
}
main .main_visual__img {
  position: relative;
}
main .main_visual__img:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img_new/shogo/staff_list/bgMask.png);
}
main .main_visual__img .illust {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .description {
  padding: 95px 0 85px;
}
@media screen and (max-width: 480px) {
  main .description {
    padding: 55px 0 50px;
  }
}
main .description .description-wrap {
  text-align: center;
  max-width: calc(1000px + 2rem);
  margin: auto;
  padding: 0 1rem;
}
main .description .description-wrap h3 {
  font-family: "notosansbold";
  font-size: 28px;
  line-height: 1.8;
  padding-bottom: 33px;
}
@media screen and (max-width: 480px) {
  main .description .description-wrap h3 {
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 28px;
  }
}
main .description .description-wrap p {
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  main .description .description-wrap p {
    font-size: 13px;
  }
}
main .description .description-wrap p .space {
  display: block;
  padding-bottom: 28px;
}
@media screen and (max-width: 480px) {
  main .description .description-wrap p .space {
    padding-bottom: 25px;
  }
}
main .division, main .division02 {
  padding: 94px 0 88px;
  background-color: #F5F5F5;
}
@media screen and (max-width: 480px) {
  main .division, main .division02 {
    padding: 55px 0 52px;
  }
}
main .division .division-wrap, main .division02 .division-wrap {
  max-width: calc(1000px + 2rem);
  margin: auto;
  padding: 0 1rem;
}
main .division .division-wrap .division-title, main .division02 .division-wrap .division-title {
  font-size: 24px;
  font-family: "notosansbold";
  padding: 1rem;
  color: #FFFFFF;
  background-color: #000000;
}
@media screen and (max-width: 480px) {
  main .division .division-wrap .division-title, main .division02 .division-wrap .division-title {
    font-size: 21px;
  }
}
main .division .division-wrap ul, main .division02 .division-wrap ul {
  padding-top: 40px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  main .division .division-wrap ul, main .division02 .division-wrap ul {
    padding-top: 26px;
    gap: 22px;
  }
}
main .division .division-wrap ul li, main .division02 .division-wrap ul li {
  width: 224px;
  height: 140px;
}
@media screen and (max-width: 480px) {
  main .division .division-wrap ul li, main .division02 .division-wrap ul li {
    width: 100%;
    height: 90px;
  }
}
main .division .division-wrap ul li a, main .division02 .division-wrap ul li a {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media screen and (max-width: 480px) {
  main .division .division-wrap ul li a, main .division02 .division-wrap ul li a {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
}
main .division .division-wrap ul li a:hover, main .division02 .division-wrap ul li a:hover {
  background-color: #023A90;
}
main .division .division-wrap ul li a:hover p, main .division02 .division-wrap ul li a:hover p {
  color: #FFFFFF;
}
main .division .division-wrap ul li a p, main .division02 .division-wrap ul li a p {
  font-size: 18px;
  font-family: "notosansbold";
  padding-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  main .division .division-wrap ul li a p, main .division02 .division-wrap ul li a p {
    padding: 0;
  }
}
main .division02 {
  background-color: transparent;
  padding-bottom: 118px;
}
@media screen and (max-width: 480px) {
  main .division02 {
    padding-bottom: 79px;
  }
}/*# sourceMappingURL=staff_list.css.map */